.idea
.jshintrc
client/package-lock.json
tests/Gemfile.lock
server-old/composer.lock
server-old/vendor
server-old/files/*
!server-old/files/.gitkeep
!server-old/files/.htaccess
server-old/.dbdata
server-old/.fakemail
server-old/apidoc
server/composer.lock
server/vendor
server/files/*
!server/files/.gitkeep
!server/files/.htaccess
server/.dbdata
server/.fakemail
server/apidoc
dist/
